In [3]:
import pandas as pd

See all themes

In [4]:
df = pd.read_csv('data/Brickset-Sets.csv')

# filter data
df = df.dropna(subset=['Pieces'])
df = df.dropna(subset=['RRP (USD)'])
df = df[df['Pieces'] > 10]

df

,Number,Theme,Subtheme,Year,Set name,Minifigs,Pieces,RRP (GBP),RRP (USD),RRP (CAD),...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Value new (USD),Value used (USD),Launch date,Exit date
0,31203-1,Art,Miscellaneous,2021,World Map,NaN,11695.0,214.99,249.99,349.99,...,NaN,NaN,NaN,NaN,NaN,NaN,279.96,224.68,01/06/2021,31/12/2023
1,10307-1,Icons,Landmarks,2022,Eiffel Tower,NaN,10001.0,554.99,629.99,799.99,...,NaN,NaN,NaN,NaN,NaN,NaN,582.13,452.29,25/11/2022,31/12/2025
2,10294-1,Icons,Miscellaneous,2021,Titanic,NaN,9090.0,589.99,679.99,849.99,...,NaN,NaN,NaN,NaN,NaN,NaN,657.55,509.77,08/11/2021,31/12/2026
3,10276-1,Icons,Landmarks,2020,Colosseum,NaN,9036.0,474.99,549.99,649.99,...,NaN,NaN,NaN,NaN,NaN,NaN,561.10,432.33,27/11/2020,31/12/2023
4,75192-1,Star Wars,Ultimate Collector Series,2017,Millennium Falcon,8.0,7541.0,734.99,849.99,1049.99,...,NaN,NaN,NaN,NaN,NaN,NaN,676.99,543.41,01/10/2017,31/12/2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12940,4976-1,Duplo,LEGO Ville,2007,Cement Mixer,1.0,11.0,12.99,16.99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,75.00,20.56,NaN,NaN
12941,4978-1,Duplo,LEGO Ville,2007,Road Sweeper,1.0,11.0,9.79,14.99,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.00,21.28,NaN,NaN
12943,5644-1,Duplo,Farm,2010,Chicken Coop,1.0,11.0,7.99,8.99,10.99,...,NaN,NaN,NaN,NaN,NaN,NaN,8.00,5.50,NaN,NaN
12944,5813-1,Duplo,Cars,2010,Lightning McQueen,1.0,11.0,13.49,14.99,19.99,...,NaN,NaN,NaN,NaN,NaN,NaN,24.07,7.68,NaN,NaN
12945,5817-1,Duplo,Cars,2011,Agent Mater,1.0,11.0,13.49,14.99,19.99,...,NaN,NaN,NaN,NaN,NaN,NaN,17.92,16.52,NaN,NaN

In [5]:
df.Theme.unique()

array(['Art', 'Icons', 'Star Wars', 'Ninjago', 'Harry Potter',
       'Creator Expert', 'Advanced models', 'Marvel Super Heroes',
       'Serious Play', 'The LEGO Ninjago Movie', 'Disney', 'Ghostbusters',
       'Miscellaneous', 'Technic', 'Bricklink', 'DC Comics Super Heroes',
       'Ideas', 'The LEGO Batman Movie', 'Samsonite', 'The LEGO Movie 2',
       'Jurassic World', 'Minecraft', 'Super Mario', 'Factory',
       'The LEGO Movie', 'The Simpsons', 'Monkie Kid', 'Basic',
       'The Lord of the Rings', 'Pirates of the Caribbean',
       'Stranger Things', 'Architecture', 'Friends', 'Monster Fighters',
       'City', 'Make and Create', 'Education', 'Seasonal', 'Classic',
       'Model Team', 'Castle', 'Indiana Jones', 'Creator', 'Racers',
       'Hidden Side', 'Exo-Force', 'Nexo Knights', 'Dreamzzz',
       'Promotional', 'Legends of Chima', 'Avatar', 'Ultra Agents',
       'Dots', 'Agents', 'DC Super Hero Girls', 'Batman', 'Vikings',
       'Elves', 'Space', 'Atlantis', 'Freestyle', 'Bricks and More',
       'Vidiyo', 'Hobby Set', 'World Racers', 'Mindstorms',
       'Speed Champions', 'Town', 'Trains', 'Pirates',
       'Teenage Mutant Ninja Turtles', 'Minions: The Rise of Gru',
       'Discovery', 'The Hobbit', 'Scooby-Doo', 'The Angry Birds Movie',
       'Bionicle', 'Boost', 'Cars', 'Aqua Raiders', 'Dacta',
       'Prince of Persia', 'Sonic the Hedgehog', 'Dino',
       "Pharaoh's Quest", 'Universal Building Set', 'Adventurers',
       'Overwatch', 'Avatar The Last Airbender', 'BrickHeadz',
       'Power Miners', 'The Lone Ranger', 'Western',
       'Master Builder Academy', 'World City', 'Dino Attack', 'Toy Story',
       'SpongeBob SquarePants', 'Sports', 'Animal Crossing', 'Unikitty',
       'Aquazone', 'Time Cruisers', "Gabby's Dollhouse",
       'Trolls World Tour', 'Studios', 'Spider-Man', 'Juniors',
       'Alpha Team', 'Belville', 'Games', 'Rock Raiders', 'HERO Factory',
       'Duplo', 'Boats', 'Island Xtreme Stunts', 'System', 'FORMA',
       'Clikits', 'Scala', 'Znap', 'Fusion', 'Dimensions', 'Spybotics',
       'Homemaker', 'The Powerpuff Girls', 'Brick Sketches', 'LEGOLAND',
       'Jack Stone', 'Fabuland', 'Life of George', '4 Juniors',
       'Bulk Bricks', 'Mickey Mouse', 'Books', 'Explore', 'Primo',
       'Service Packs', 'Quatro', 'Mixels', 'Collectable Minifigures',
       'LEGO Universe', 'Building Set with People', 'Xtra',
       'Action Wheelers', 'Dinosaurs', 'Galidor', 'Ben 10: Alien Force',
       'Baby'], dtype=object)

Save to new data file

In [6]:
# remove bad themes
bad_themes = ['Serious Play']
df = df[~df['Theme'].isin(bad_themes)]

# keep columns we need
df = df[['Number', 'Theme', 'Subtheme', 'Set name', 'Pieces', 'RRP (USD)', 'Year']]

df.to_csv('data/filtered_data.csv', index=False)